.App {
  text-align: center;
}
.switch-button{
  left: -115px;
}
.dd-wrapper {
  font-size: 1.6rem;
  user-select: none;
  position: relative;
  width: 100% !important;
  padding-bottom: 15px;
}
.sidebar-widget{
  margin-bottom: 5px;
}
.dashboard-box .job-listing-details {
  text-align: left;
}
.text-content {
  padding-top: 80px;
    padding-bottom: 250px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.intro-banner {
   padding: 10px 0; 
}
.switch-container{
  width: 50%;
  padding-top: 15px;
}
.banner-headline h1, .banner-headline h2, .banner-headline h3, .banner-headline h4 {
    font-size: 35px;
}
.active-tabhead{
  background: white;
  color: black !important;
}
.signout{

  position: absolute;
  top: -35px;
  right: -100px;
  color: black
}
.tabs{
  box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, .1);
}

.box-overlay {
  z-index: 100;
    top: 350px;
    position: absolute;
    left: 0;
}

.after {
  
  content: '';
	position: absolute;
	top: 0;
	right: 0;
  bottom: 0;
  height: 20%;
	left: 0;
	background-image: linear-gradient(to bottom ,#ffffff,#9c9c9c00);
	opacity: .6; 
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
